<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>动态规划安全团队</title>
        <link rel="stylesheet" href="https://getuikit.com/css/theme.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" defer="defer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js" defer="defer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js" defer="defer"></script>
        <script src="https://getuikit.com/assets/uikit/dist/js/uikit.min.js" defer="defer"></script>
        <script src="https://getuikit.com/assets/uikit/dist/js/uikit-icons.min.js" defer="defer"></script>
        <script src="https://getuikit.com/app/main.min.js" defer="defer"></script>
    	<script src="https://www.googletagmanager.com/gtag/js?id=UA-42150424-1" async=""></script>
	<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
</head>

<body>
	<div>
		<div class="uk-section-primary tm-section-texture">
			<div uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed" style="position: fixed; top: 0px; width: 1600px;">
				<div class="uk-container uk-container-expand">
					<nav class="uk-navbar">
						<div class="uk-navbar-left">
							<a href="/team" class="uk-navbar-item uk-logo router-link-exact-active uk-active">动态规划(Dynamic Programming)</a>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav uk-visible@m">
								<li><a href="#intro">团队介绍</a></li>
								<li><a href="/blog">团队博客</a></li>
                                                                <li><a href="/team/articles">技术文档</a></li>
							</ul>
							<div class="uk-navbar-item uk-visible@m">
								<a href="#contactus" class="uk-button uk-button-default tm-button-default uk-icon">联系我们<canvas uk-icon="icon: phone" width="20" height="20" class="uk-icon" hidden="true"></canvas></a>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div id="show" class="uk-sticky-placeholder" style="height: 80px; margin: 0px;"></div>
			<div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center" style="min-height: calc(-183px + 100vh);">
				<div class="uk-width-1-1">
					<div class="uk-container">
						<p class="uk-margin-medium uk-text-lead">动态规划安全团队网站施工中<br class="uk-visible@s">请关注我们的动态</p>
						<div uk-grid="" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid">
							<div class="uk-first-column">
								<a href="#intro" class="uk-button uk-button-primary tm-button-primary uk-button-large tm-button-large uk-visible@s">团队介绍</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="intro" class="uk-section uk-section-secondary tm-section-texture">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<img class="card-img-top" src="/static/img/dp10040903.gif" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title" style="color: black;">Sunird</h4>
								<p class="card-text" style="color: black;">安全开发</p>
								<p class="card-text" style="color: black;">常见编程语言、擅长Web漏洞、渗透测试、APT追溯</p>
								<p class="card-text" style="color: black;">https://www.github.com/sunird</p>
								<a href="http://www.wbcity.cn:8090/" class="btn btn-primary">查看博客</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card">
							<img class="card-img-top" src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3379455325,2805539153&fm=26&gp=0.jpg" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title" style="color: black;">Nerium/N3R1UM</h4>
								<p class="card-text" style="color: black;">安全开发</p>
								<p class="card-text" style="color: black;">C/C++、Python、擅长二进制漏洞和一般Web漏洞、病毒分析、APT追溯</p>
								<p class="card-text" style="color: black;">https://github.com/N3R1UM</p>
								<a href="http://www.wbcity.cn:8090/" class="btn btn-primary">查看博客</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img class="card-img-top" src="http://i8.hexunimg.cn/2012-07-06%2F143264043.jpg" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title" style="color: black;">fishyyh</h4>
								<p class="card-text" style="color: black;">渗透</p>
								<p class="card-text" style="color: black;">PHP、Python、擅长Web漏洞、渗透、代码审计</p>
								<p class="card-text" style="color: black;">https://github.com/fishyyh</p>
								<a href="http://www.wbcity.cn:8090/" class="btn btn-primary">查看博客</a>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;"></div>
				<div id="intro" class="row">
					<div class="col-md-4">
						<div class="card">
							<img class="card-img-top" src="/static/img/dp19040901.jpg" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title" style="color: black;">送外卖的</h4>
								<p class="card-text" style="color: black;">安全服务</p>
								<p class="card-text" style="color: black;">Python，Web漏洞，应急响应，端茶倒水</p>
                                                                <p class="card-text" style="color: black;">https://github.com/xdcty2014</p>
								<a href="https://github.com/xdcty2014" class="btn btn-primary">查看博客</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img class="card-img-top" src="http://i8.hexunimg.cn/2012-07-06%2F143264043.jpg" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title" style="color: black;">LGang</h4>
								<p class="card-text" style="color: black;">渗透</p>
								<p class="card-text" style="color: black;">擅长Web漏洞、渗透、安全服务</p>
								<p class="card-text" style="color: black;">https://github.com/xxxxxx</p>
								<a href="http://www.wbcity.cn:8090/" class="btn btn-primary">查看博客</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img class="card-img-top" src="http://i8.hexunimg.cn/2012-07-06%2F143264043.jpg" alt="Card image" style="width:100%">
							<div class="card-body">
								<h4 class="card-title" style="color: black;">Pumpk1n</h4>
								<p class="card-text" style="color: black;">开发</p>
								<p class="card-text" style="color: black;">Python、擅长一般Web漏洞、渗透</p>
								<p class="card-text" style="color: black;">https://github.com/xxxxx</p>
								<a href="http://www.wbcity.cn:8090/" class="btn btn-primary">查看博客</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contactus" class="uk-section uk-section-primary tm-section-texture">
			<div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center" style="min-height: calc(-183px + 100vh);">
				<div class="uk-width-1-1">
					<div class="uk-container">
						<p class="uk-margin-medium uk-text-lead">请发送电子邮件至younglon@outlook.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
