<!DOCTYPE html>
<html>
<head>
  <title>DP-team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin:auto">
  <h2>动态规划团队</h2>
  <p>站点搭建中。。。</p>
  <div class="row">
  
    <div class="col">
		<div class="card" style="width:300px">
			<img class="card-img-top" src="/static/img/dp19033101.jpg" alt="Card image" style="width:100%">
			<div class="card-body">
			  <h4 class="card-title">Sunird</h4>
			  <p class="card-text">The builder of this Card. A WhiteHat of DP-team.</p>
			  <a href="http://www.wbcity.cn:8090" class="btn btn-primary">See Profile</a>
			</div>
		</div>
	</div>
	
    <div class="col">
		<div class="card" style="width:300px">
			<img class="card-img-top" src="/static/img/dp19033102.jpg" alt="Card image" style="width:100%">
			<div class="card-body">
			  <h4 class="card-title">N3R1UM</h4>
			  <p class="card-text">The builder of this Card. A WhiteHat of DP-team.</p>
			  <a href="http://www.wbcity.cn:8090" class="btn btn-primary">See Profile</a>
			</div>
		</div>
	</div>
	
    <div class="col">
		<div class="card" style="width:300px">
			<img class="card-img-top" src="/static/img/dp19033103.jpg" alt="Card image" style="width:100%">
			<div class="card-body">
			  <h4 class="card-title">fish-yyh</h4>
			  <p class="card-text">The builder of this Card. A WhiteHat of DP-team.</p>
			  <a href="http://www.wbcity.cn:8090" class="btn btn-primary">See Profile</a>
			</div>
		</div>
	</div>
	
  </div>
  
  <br>
<div>
</body>
</html>
